apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pvcautoscaler.fullname" . }}
  labels:
    {{- include "pvcautoscaler.labels" . | nindent 4 }}
    {{- with .Values.pvcAutoscaler.extraLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "pvcautoscaler.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "pvcautoscaler.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "pvcautoscaler.fullname" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          command:
            - /pvc-autoscaler
          args:
            - --metrics-client={{ .Values.pvcAutoscaler.args.metricsClient }}
            - --metrics-client-url={{ .Values.pvcAutoscaler.args.metricsClientURL }}
            - --polling-interval={{ .Values.pvcAutoscaler.args.pollingInterval }}
            - --reconcile-timeout={{ .Values.pvcAutoscaler.args.reconcileTimeout }}
            - --log-level={{ .Values.pvcAutoscaler.args.logger.logLevel }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            requests:
              cpu: "{{ .Values.resources.requestCPU }}"
              memory: "{{ .Values.resources.requestMemory }}"
