image:
  # image.repository -- pvc-autoscaler image repository to use.
  repository: lorenzophys/pvc-autoscaler

  # image.tag -- pvc-autoscaler image tag to use.
  tag: "latest"

  # image.pullPolicy -- pvc-autoscaler image pullPolicy.
  pullPolicy: Always

pvcAutoscaler:
  args:
    # pvcAutoscaler.args.metricsClient -- Specify the metrics client to use to query volume stats.
    # Used as "--metrics-client" option
    metricsClient: "prometheus"

    # pvcAutoscaler.args.metricsClientURL -- Specify metrics client URL to query volume stats.
    # Used as "--metrics-client-url" option
    metricsClientURL: http://prometheus-server.monitoring.svc.cluster.local

    # pvcAutoscaler.args.pollingInterval -- Specify how often to check pvc stats.
    # Used as "--polling-interval" option
    pollingInterval: 30s

    # pvcAutoscaler.args.reconcileTimeout -- Specify the time after which the reconciliation is considered failed.
    # Used as "--reconcile-timeout" option
    reconcileTimeout: 30s

    logger:
       # pvcAutoscaler.logger.logLevel -- Specify the log level.
      logLevel: "INFO"

    # pvcAutoscaler.extraLabels -- Additional labels that will be added to pvc-autoscaler Deployment.
    extraLabels: {}

  # pvcAutoscaler.resources -- Specify resources for pvc-autoscaler deployment
  resources:
    # pvcAutoscaler.resources.requestCPU -- Request CPU resource unit in terms of millicpu
    requestCPU: "250m"

    # pvcAutoscaler.resources.requestMemory -- Request memory resource unit in terms of Mi
    requestMemory: "128Mi"